.navbar-custom {
    background-color: #92d500; /* Navbar color */
    color: #4169E1;
    font-weight: bolder;
    font-size:x-large;
    font-family:Montserrat, Helvetica, sans-serif;
  }
.card-custom{
  background-color: #d7ecf9;
}
// .card-custom2{
//   margin-bottom: 20px;
//   // background-color: #cce694;
//   color: #191970;
// }

  